$background-color: #e6ecf0;
$link-color: #3C3C3C;
$link-hover: #087E8B;

html {
    box-sizing: border-box;
  }

body { 
    background: $background-color; 
    position: relative;
}

a {
    color: $link-color;

    &:hover{
        color:$link-hover;
        text-decoration: none;
    }
}